<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kiki's Delivery Service</title>
  <!-- favicon -->
  <link rel="shortcut icon" href="../images/witch_favi.png" />
  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet"/>
  <!-- style -->
  <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
  <div class="bg_intro">
    <h1 class="main_title">Kiki's Delivery Service</h1>

    <div class="btn_group">
      <button type="button" class="start-btn btn">Start</button>
      <button type="button" class="quit-btn btn">Quit</button>
    </div>
  </div>
</body>
</html>